body {
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'RoundedFixedays';
    flex-direction: column;
    height: 100vh; /*화면 높이 채우기*/
}

@font-face {
    font-family:'RoundedFixedays';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');();
    font-weight: normal;
    font-display: swap;
}

header {
    display: flex;
    padding: 16px;
    /*background-color: yellow;*/
    /*color: black;*/
    justify-content: flex-end;
}

footer {
    display: flex;
    padding: 16px;
    /*background-color: black;*/
    /*color:white;*/
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 64px;
}

.menu-item {
    font-size: 32px;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
  }

  .bottom-left {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 20px;
  }