body {
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'RoundedFixedays';

    align-items: center;
    flex-direction: column;

    height: 100vh;
    justify-content: center;
}

@font-face {
    font-family:'RoundedFixedays';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');();
    font-weight: normal;
    font-display: swap;
}


.big-text {
    font-size: 64px;
    line-height: 2.2; /* 줄 간격을 더 넓게 */
}

.mid-text {
    font-size: 32px;
    line-height: 2.2; /* 줄 간격을 더 넓게 */
}


.small-text {
    font-size: 8px;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
  }

  .bottom-left {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
  }